body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    padding: 4px;

} 
.logo {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 32px;
}

.links{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
}
.welcome{
   background-color: aquamarine;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   
}

.inspire {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 flex-wrap: wrap;
 margin-right: 100px;
 margin-left: 100px;
}

.item {
  display: flex;
  width: 200px;
  height: auto;
  flex: 1 1 auto;
  margin-right: 100px;
}


